# Dependências
node_modules
package-lock.json

# Build outputs
dist
build
coverage

# Logs
*.log
logs

# Arquivos gerados
*.d.ts.map
*.js.map

# Configurações IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

# Arquivos de lock
yarn.lock
pnpm-lock.yaml
